:root {
  --blurple: #7289da;

  --primary-color: #36393e;
  --secondary-color: #282b30;
  --tertiary-color: #1e2124;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --primary-color: #ffffff;
  --secondary-color: #f2f3f5;
  --tertiary-color: #e3e5e8;
  --text-color: #060607;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: 0.3s;
  margin: 0;
}

nav {
  background-color: var(--secondary-color);
  transition: 0.3s;
  display: flex;
  width: 100%;
  height: 4em;
  padding: 0.5em;
  justify-content: space-between;
}

/* Theme Toggler CSS */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 3em;
  position: relative;
  width: 5em;
}

.slider {
  background-color: var(--tertiary-color);
  position: absolute;
  cursor: pointer;
  transition: 0.3s;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  background-color: var(--primary-color);
  position: absolute;
  transition: 0.3s;
  content: "";
  left: 0.2em;
  bottom: 0.2em;
  height: 2.6em;
  width: 2.6em;
}

input:checked + .slider:before {
  transform: translateX(2em);
}

.slider.round {
  border-radius: 3em;
}

.slider.round:before {
  border-radius: 50%;
}
